// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


$primary   : #3174df;
$secondary : #1565C0;
$accent    : #9649a3;

$dark      : #362f2f;
$dark-page : #0d1116;

$positive  : #3d9c53;
$negative  : #a13542;
$info      : #6a69d1;
$warning   : #E68900;

$sp-color  : #3D8A33;
$pv-color  : #ffffff;
$op-color  : #D84315;
$m1-color  : #3174DF;
$kp-color  : #CDDC39;
$ki-color  : #FFB400;
$kd-color  : #FF6000;
$kf-color  : #87CEFA;
