title = "Alpaca Benro Polaris Driver (Telescope)"

[network]
alpaca_ip_address = ''                      # IP Address to expose this Alpaca Service on. Loopback='127.0.0.1', Any Address=''.
alpaca_port = 5555                          # Port to expose Alpaca Service on.
polaris_ip_address = '192.168.0.1'          # IP Address of the Benro Polaris on its WiFi Hotspot network.
polaris_port = 9090                         # Port the Benro Polaris is listening on.
stellarium_telescope_ip_address = ''        # IP Address to expose this Stellarium Telescope service on. 
stellarium_telescope_port = 10001           # Stellarium Telescope control protocol port, 0 to disable.

[server]
location = 'Sydney Observatory, Australia'  # Anything you want here. The site_lat/lon/ele are used in conversions between ra/dec and alt/az.
site_latitude = -33.8598874                 # The geodetic(map) latitude (degrees, positive North, WGS84) of the site at which the telescope is located.
site_longitude = 151.2021771                # The longitude (degrees, positive East, WGS84) of the site at which the telescope is located.
site_elevation = 39                         # The elevation above mean sea level (meters) of the site at which the telescope is located.
site_pressure = 1010                        # atmospheric pressure in milli Bars. Used to calculate atmospheric refraction. Default is standard atmosphere model used in aviation. A Value of 0 turns it off.
focal_length = 800                          # The telescope's focal length, in miliimeters.
focal_ratio = 11                            # The telescope's focal ratio ie focal_length / aperture_diameter.
verbose_driver_exceptions = true            # Provide more detailed description of any Exceptions encountered in the driver.

[control]
advanced_tracking = true                    # Perform advanced tracking of targets in Alpaca Driver (no longer uses Benro Polaris tracking)
advanced_goto = true                        # Perform advanced goto slewing in Alpaca Driver (no longer uses Benro Polaris goto)
advanced_rotator = true                     # Enable the ASCOM Alpaca Rotator API for frame rotation control (requires advanced_tracking)
advanced_guiding = true                     # Enable the ASCOM Alpaca Pulse guiding API for applications like PHD2 (requires advanced_tracking)
max_slew_rate = 7.0                         # Maximum slew rate (degrees/s) on any motor axis (when using advanced control)
max_accel_rate = 1.0                        # Maximum acceleration (degress/s2) on any motor axis (when using advanced controls)

[device]
tracking_settle_time = 16                   # The time (in seconds) to wait after sidereal tracking is re-enabled, before marking the slew as complete.
aiming_adjustment_enabled = true            # Whether to make minor ajusttments to improve aiming.
aiming_adjustment_time = 20                 # The time (in seconds) in the future to convert from ra/dec to az/alt, to cater for sidereal tracking settle time.
aiming_adjustment_az = -0.0300750663        # The initial az aiming adjustment (in decimal degrees), reset to 0 if you dont want any initial adjustment.
aiming_adjustment_alt = 0.0195474932        # The initial alt aiming adjustment (in decimal degrees), reset to 0 if you dont want any initial adjustment.
aim_max_error_correction = 0.5              # The maximum angle (decimal degrees) that the driver will correct for when aiming at alzaz .
sync_pointing_model = 0                     # Pointing model used for SyncToCoordinates (0 = Alt/Az Offset, 1 = RA/Dec Offset)
sync_N_point_alignment = true               # Benro Polaris N Point Alignment. false = sync only in Driver, true = syncs will re-align Polaris

[logging]
log_dir = ''                                # Directory to store logs, '' is current working dir
log_level = 'INFO'                          # Default log level, show info and above messages.
log_to_file = true                          # log output to file alpaca.log, copying old logs to alpaca.1, ... alpaca.5
log_to_stdout = true                        # log output to stdout.

log_performance_data = 0                    # Logging of Polaris Performance Data 0=Disabled, 1=Aim Data, 2=Drift data, 3=Speed data, 4=Position Data, 5=Rotator Data
log_performance_data_test = 0              # (DEV ONLY) Run Performance tests 0=none, 1=Aim test, 2=Drift test, 3=Moveaxis speed test, 5=Rotator test
log_perf_speed_interval = 5                 # To calculate average speed, measure distance travelled, once every "log_perf_speed_interval" seconds.

log_polaris = true                          # log polaris messages and activity.
log_polaris_protocol = false                # log polaris protocol messages sent and received.
log_stellarium_protocol = false             # log stellarium synscan and binary protocol messages sent and received.
supress_polaris_frequent_msgs = true        # supress logging the frequent messages from Polaris beno protocol (518 position and 525 Tempa509ca36...).
supress_alpaca_polling_msgs = true          # supress logging the frequent polling messages from Nina Alpaca protocol.
supress_stellarium_polling_msgs = true      # supress logging the frequent polling messages from Stellarium SynScan protocol.

max_size_mb = 5                             # maximum log file size.
num_keep_logs = 5                           # maximum number of log files to rotate through.
