title = "Alpaca Benro Polaris Driver (Telescope)"

[network]
polaris_ip_address = '192.168.0.1'          # IP Address of the Benro Polaris on its WiFi Hotspot network.
polaris_port = 9090                         # Port the Benro Polaris is listening on.
enable_restapi = true                       # Provide the Alpaca REST API Service (do not turn off).
enable_socket = true                        # Provide the Alpaca Pilot SocketIO Service.
enable_discovery = true                     # Provide the Alpaca Discovery Service.
enable_pilot = true                         # Provide the Alpaca Pilot Web Service.
enable_synscan = true                       # Provide the SynSCAN/Stellarium API Service.
alpaca_restapi_port = 5555                  # Port to expose Alpaca REST API Service on.
alpaca_socket_port = 5556                   # Port to expose Alpaca Pilot SocketIO Service on.
alpaca_discovery_port = 32227               # Port to expose Alpaca Discovery Service on.
alpaca_pilot_port = 80                      # Port to expose Alpaca Pilot Web Service on.
stellarium_synscan_port = 10001             # Port to expose the Stellarium/SynSCAN Telescope Control Service on.
stellarium_synscan_ip_address = ''          # IP Address to expose this StellariumSynSCAN Service on. Loopback='127.0.0.1', Any Address=''.
alpaca_restapi_ip_address = ''              # IP Address to expose this Alpaca REST API Service on. Loopback='127.0.0.1', Any Address=''.

[server]
location = 'Sydney Observatory, Australia'  # Anything you want here. The site_lat/lon/ele are used in conversions between ra/dec and alt/az.
site_latitude = -33.8598874                 # The geodetic(map) latitude (degrees, positive North, WGS84) of the site at which the telescope is located.
site_longitude = 151.2021771                # The longitude (degrees, positive East, WGS84) of the site at which the telescope is located.
site_elevation = 39                         # The elevation above mean sea level (meters) of the site at which the telescope is located.
site_pressure = 1010                        # atmospheric pressure in milli Bars. Used to calculate atmospheric refraction. Default is standard atmosphere model used in aviation. A Value of 0 turns it off.
focal_length = 800                          # The telescope's focal length, in miliimeters.
focal_ratio = 11                            # The telescope's focal ratio ie focal_length / aperture_diameter.
verbose_driver_exceptions = true            # Provide more detailed description of any Exceptions encountered in the driver.

[control]
advanced_kf = false                         # Enable the Kalman Filtering of measurement data to smooth out noise
advanced_rotator = true                     # Enable the ASCOM Alpaca Rotator API for frame rotation control (requires advanced_tracking)
advanced_control = true                     # Used to enable or disable all advanced control features
advanced_slewing = false                    # Perform advanced control for move axis commands (no longer uses Benro Polaris tracking)
advanced_goto = false                       # Perform advanced goto slewing in Alpaca Driver (no longer uses Benro Polaris goto)
advanced_tracking = false                   # Perform advanced tracking of targets in Alpaca Driver (no longer uses Benro Polaris tracking)
advanced_guiding = false                    # Enable the ASCOM Alpaca Pulse guiding API for applications like PHD2 (requires advanced_tracking)
max_slew_rate = 0.0                         # Maximum slew rate (0.0 to 8.5 degrees/s) on any motor axis (use 0.0 to set calibrated max) must be float
max_accel_rate = 0.0                        # Maximum acceleration (0.5 to 5.0 degress/s2) on any motor axis (use 0.0 to set default) must be float
kf_measure_noise = [ 0.0031622776601683794, 0.00630957344480193,   0.01584893192461114,    0.001584893192461114,  0.0031622776601683794, 0.003981071705534973 ]
kf_process_noise = [ 5.011872336272725e-05, 7.943282347242822e-05, 0.00012589254117941674, 5.011872336272725e-05, 7.943282347242822e-05, 0.00012589254117941674 ]

[device]
tracking_settle_time = 16                   # The time (in seconds) to wait after sidereal tracking is re-enabled, before marking the slew as complete.
aiming_adjustment_enabled = true            # Whether to make minor ajusttments to improve aiming.
aiming_adjustment_time = 2                  # The time (in seconds) in the future to convert from ra/dec to az/alt, to cater for sidereal tracking settle time.
aim_max_error_correction = 0.5              # The maximum angle (decimal degrees) that the driver will correct for when aiming at alzaz .
sync_N_point_alignment = true               # Benro Polaris N Point Alignment. false = sync only in Driver, true = syncs will re-align Polaris
sync_pointing_model = 0                     # Pointing model used for SyncToCoordinates (0 = Alt/Az Offset, 1 = RA/Dec Offset)
aiming_adjustment_az = -0.0300750663        # The initial az aiming adjustment (in decimal degrees), reset to 0 if you dont want any initial adjustment.
aiming_adjustment_alt = 0.0195474932        # The initial alt aiming adjustment (in decimal degrees), reset to 0 if you dont want any initial adjustment.

[logging]
log_dir = ''                                # Directory to store logs, '' is ../logs directory
log_level = 'INFO'                          # Default log level, show info and above messages.
log_to_file = true                          # log output to file alpaca.log, copying old logs to alpaca.1, ... alpaca.5
log_to_stdout = true                        # log output to stdout.

log_alpaca_protocol = true                  # log ASCOM Alpaca telescope protocol messages sent and received
log_rotator_protocol = true                 # log ASCOM Alpaca rotator protocol messages sent and received
log_alpaca_discovery = true                 # log ASCOM Alpaca discovery and management protocol messages sent and received
log_synscan_protocol = true                 # log stellarium synscan and binary protocol messages sent and received
log_alpaca_actions = true                   # log ASCOM Alpaca action protocol messages (extensions to standard)
log_polaris_ble = false                     # log Benro Polaris Bluetooth Low Energy messages sent and received
log_polaris_protocol = false                # log Benro Polaris protocol messages sent and received
log_pulse_guiding = false                   # log ASCOM Alpaca pulse guiding protocol messages
log_alpaca_polling = false                  # log frequent polling messages from ASCOM Alpaca clients (eg Nina)
log_synscan_polling = false                 # log frequent polling messages from SynScan clients (eg Stellarium)
log_polaris_polling = false                 # log frequent polling messages from Benro Polaris

log_telemetry_data = false                  # log raw telemetry data from polaris
log_aiming_data = false                     # log aiming accuracy metrics and corrections
log_drift_data = false                      # log drift error measurements and compensation
log_periodic_data = false                   # log periodic error tracking and modeling
log_kalman_data = false                     # log Kalman filter inputs and outputs
log_pid_data = false                        # log PID control loop activity
log_sync_data = false                       # log sync performance metrics and timing

log_performance_data = 0                    # Logging of Polaris Performance Data 0=Disabled, 1=Aim, 2=Drift, 3=Obsolete, 4=Position, 5=KalmanFilter, 6=PID
log_performance_data_test = 0               # (DEV ONLY) Run Performance tests 0=none, 1=Aim test, 2=Drift test, 3=Moveaxis speed test, 5=Rotator test
log_perf_speed_interval = 5                 # To calculate average speed, measure distance travelled, once every "log_perf_speed_interval" seconds.

max_size_mb = 5                             # maximum log file size.
num_keep_logs = 5                           # maximum number of log files to rotate through.
